<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="focus" href="/tabs/focus">
      <ion-icon aria-hidden="true" name="flame"></ion-icon>
      <ion-label>Focus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entry" href="/tabs/entry">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Entry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
